{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('CSS/profil/profil.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <section class="profil">

        <h1>Your moments</h1>

        <div
            class="profilParent">
            {# squats, crunches pull-ups #}

            {% for moment in moments %}

                {% if moment.exerciseName == "pushUp"  %}

                    <div class="profilChild pushUp shadow">
                        <h2>PUSH UPS</h2>
                        <h3>
                            <i class="fas fa-user-clock"></i>
                            Last Test</h3>
                        <p>{{moment.dateLastTrain|date("d.m.Y - H:i:s", "Europe/Berlin") }}</p>

                        <h3>
                            <i class="fas fa-fire"></i>
                            Your last TEST
                        </h3>
                        <p>{{moment.userTest}}</p>

                        <h3>
                            <i class="fas fa-history"></i>
                            Your last PUSH UPS
                        </h3>
                        <p>{{moment.numberOfRepetitions}}</p>

                        <h3>
                            <i class="far fa-clock"></i>
                            Next Test Day</h3>
                        <p>{{moment.dateNextTrain|date("d.m.Y", "Europe/Berlin") }}</p>

                        <h3>
                            <i class="fas fa-graduation-cap"></i>
                            Grade
                        </h3>
                        <p>{{moment.lastExerciseGrade}}</p>

                        <a href="#">
                            <div class="linkHistory">Check History</div>
                        </a>
                        <a href="#">
                            <div class="linkTrain">Next train</div>
                        </a>

                    </div>

                {% endif %}

                {#  #}
                {% if moment.exerciseName == "cranch"  %}

                    <div class="profilChild cranch shadow">
                        <h2>CRANCHES</h2>
                        <h3>
                            <i class="fas fa-user-clock"></i>
                            Last Test</h3>
                        <p>{{moment.dateLastTrain|date("d.m.Y - H:i:s", "Europe/Berlin") }}</p>

                        <h3>
                            <i class="fas fa-fire"></i>
                            Your last TEST
                        </h3>
                        <p>{{moment.userTest}}</p>

                        <h3>
                            <i class="fas fa-history"></i>
                            Your last Cranches
                        </h3>
                        <p>{{moment.numberOfRepetitions}}</p>

                        <h3>
                            <i class="far fa-clock"></i>
                            Next Test Day</h3>
                        <p>{{moment.dateNextTrain|date("d.m.Y", "Europe/Berlin") }}</p>

                        <h3>
                            <i class="fas fa-graduation-cap"></i>
                            Grade
                        </h3>
                        <p>{{moment.lastExerciseGrade}}</p>

                        <a href="#">
                            <div class="linkHistory">Check History</div>
                        </a>
                        <a href="#">
                            <div class="linkTrain">Next train</div>
                        </a>

                    </div>

                {% endif %}

                {#  #}
                {% if moment.exerciseName == "pullUp"  %}

                    <div class="profilChild pullUp shadow">
                        <h2>PULL UPS</h2>
                        <h3>
                            <i class="fas fa-user-clock"></i>
                            Last Test</h3>
                        <p>{{moment.dateLastTrain|date("d.m.Y - H:i:s", "Europe/Berlin") }}</p>

                        <h3>
                            <i class="fas fa-fire"></i>
                            Your last TEST
                        </h3>
                        <p>{{moment.userTest}}</p>

                        <h3>
                            <i class="fas fa-history"></i>
                            Your last PULL UPS
                        </h3>
                        <p>{{moment.numberOfRepetitions}}</p>

                        <h3>
                            <i class="far fa-clock"></i>
                            Next Test Day</h3>
                        <p>{{moment.dateNextTrain|date("d.m.Y", "Europe/Berlin") }}</p>

                        <h3>
                            <i class="fas fa-graduation-cap"></i>
                            Grade
                        </h3>
                        <p>{{moment.lastExerciseGrade}}</p>

                        <a href="#">
                            <div class="linkHistory">Check History</div>
                        </a>
                        <a href="#">
                            <div class="linkTrain">Next train</div>
                        </a>

                    </div>

                {% endif %}


                {#  #}
                {% if moment.exerciseName == "squat"  %}

                    <div class="profilChild squat shadow">
                        <h2>SQUATS</h2>
                        <h3>
                            <i class="fas fa-user-clock"></i>
                            Last Test</h3>
                        <p>{{moment.dateLastTrain|date("d.m.Y - H:i:s", "Europe/Berlin") }}</p>

                        <h3>
                            <i class="fas fa-fire"></i>
                            Your last TEST
                        </h3>
                        <p>{{moment.userTest}}</p>

                        <h3>
                            <i class="fas fa-history"></i>
                            Your last Squats
                        </h3>
                        <p>{{moment.numberOfRepetitions}}</p>

                        <h3>
                            <i class="far fa-clock"></i>
                            Next Test Day</h3>
                        <p>{{moment.dateNextTrain|date("d.m.Y", "Europe/Berlin") }}</p>

                        <h3>
                            <i class="fas fa-graduation-cap"></i>
                            Grade
                        </h3>
                        <p>{{moment.lastExerciseGrade}}</p>

                        <a href="#">
                            <div class="linkHistory">Check History</div>
                        </a>
                        <a href="#">
                            <div class="linkTrain">Next train</div>
                        </a>

                    </div>

                {% endif %}


            {% endfor %}

        </div>

    </section>


{% endblock %}
