<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="Mariusz Najwer" name="Author"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Mariusz Najwer" name="keywords"/>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext" rel="stylesheet">
        <link rel="shortcut icon" href="{{ asset('IMG/fav.png')}}">
        <link href="{{ asset('CSS/main/main.css') }}" rel="stylesheet"/> {% block stylesheets %}{% endblock %}
        <link href="{{ asset('CSS/menu/menu.css') }}" rel="stylesheet"/>
        <title>
            {% block title %}
                {{page_name}}
            {% endblock %}
        </title>


        <script src="https://kit.fontawesome.com/084a192b8b.js"></script>
        <script src="{{ asset('JS/menu/menu.js') }}"></script>

        {% block javascripts %}{% endblock %}

    </head>
    <body>

        <header>
            <div class="headerRec">
                <h2>
                    Virtual Coach
                </h2>
            </div>

            <div class="headerRec displayRec">
                <p>
                    <i class="fas fa-lg fa-globe-europe"></i>
                    najwer23.github.io</p>
            </div>
        </header>

        <nav class="menu" id="scrollMenu">
            <h2>MENU</h2>

            <p>
                {% if is_granted('ROLE_USER') %}
                    <a href="/profil">
                        <i class="fas fa-home"></i>
                        My Profil</a>

                {% else %}
                    <a href="/">
                        <i class="fas fa-umbrella-beach"></i>
                        Home</a>
                {% endif %}


            </p>
            <p>
                <a href="/about">
                    <i class="fas fa-project-diagram"></i>
                    About</a>
            </p>
            <p>
                <a href="/contact">
                    <i class="fas fa-at"></i>
                    Contact</a>
            </p>


            {% if not is_granted('ROLE_USER') %}
                <p>
                    <a href="/login">
                        <br><i class="fas fa-ticket-alt"></i>
                        Support Me</a>
                </p>

                <p>
                    <a href="/login">
                        <i class="fas fa-sign-in-alt"></i>
                        Log in</a>
                </p>
            {% endif %}


            {% if is_granted('ROLE_USER') %}

                <p>
                    <a href="/push-up">
                        <br><i class="fas fa-angle-double-right"></i>
                        Push UPS</a>
                </p>

                <p>
                    <a href="/push-up">
                        <i class="fas fa-angle-double-right"></i>
                        PULL UPS</a>
                </p>

                <p>
                    <a href="/push-up">
                        <i class="fas fa-angle-double-right"></i>
                        Cranches</a>
                </p>

                <p>
                    <a href="/push-up">
                        <i class="fas fa-angle-double-right"></i>
                        Squats</a>
                </p>

                <p>
                    <a href="/login">
                        <br><i class="fas fa-ticket-alt"></i>
                        Support Me</a>
                </p>


                <p>
                    <a href="/logout">
                        <i class="fas fa-door-open"></i>
                        Log Out</a>
                </p>
            {% endif %}

        </nav>

        <button tabindex=2 aria-label="menu" class="menuToggler" type="button">
            <span></span>
        </button>


        {% block body %}{% endblock %}
    </body>
</html></body></html>
